<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-center" href="#">Maquinarias Miguel</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />


<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="top-row ps-3 navbar navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Gestion de Reparaciònes</a>
            </div>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="/dashboard">
                <span class="bi bi-box-seam-fill me-2" aria-hidden="true"></span> Productos
            </NavLink>
        </div>
        <AuthorizeView Roles="Admin,Empleado"> 
        <div class="nav-item">
            <NavLink class="nav-link" href="/ventas">
                <span class="bi bi-cart-fill me-2" aria-hidden="true"></span> Ventas
            </NavLink>
        </div>
        
        <div class="nav-item">
            <NavLink class="nav-link" href="/historial">
                <span class="bi bi-clock-history me-2" aria-hidden="true"></span> Historial de Ventas
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="/clientes">
                <span class="bi bi-people-fill me-2" aria-hidden="true"></span> Clientes
            </NavLink>
        </div>
        </AuthorizeView>

        <div class="top-row ps-3 navbar navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Gestion de Reparaciònes</a>
            </div>
        </div>
        <AuthorizeView Roles="Admin,Empleado,Mecanico"> 

        <div class="nav-item">
            <NavLink class="nav-link" href="/ordenes">
                <span class="bi bi-tools me-2" aria-hidden="true"></span> Ordenes de Reparación
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="/historial-ordenes">
                <span class="bi bi-journal-check me-2" aria-hidden="true"></span> Historial de Órdenes
            </NavLink>
        </div>
        </AuthorizeView>
    </nav>
</div>
