
     <div class="alert-sesion">
        Para efectuar cambios inicie sesión
    </div>


<style>
    .alert-sesion {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #dc3545; /* rojo Bootstrap */
        color: white;
        text-align: center;
        padding: 1rem;
        z-index: 9999;
        font-weight: bold;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }
</style>

