@page "/asd"
@inject ProductService ProductService
@inject AuthService AuthService
@inject NavigationManager NavigationManager


<PageTitle>Inicio</PageTitle>

<h1>Dashboard Gestion de Productos</h1>

